<div id="abt">
<h2>Mausam-موسم<pre>The Weather App v-1.0</pre></h2>
<h6>Uses Angular 8 and front end Technologies HTML-CSS and Bootstrap</h6>
<h6>Angular Concepts Implemented:</h6>
<h6>1.Components</h6>
<h6>2.Routes</h6>
<h6>3.Services</h6>
<h6>4.Api calls</h6>
<h6>Source code <a href="https://github.com/jammishah">Jammi_shah </a></h6>
<h6>Twitter <a href="https://twitter.com/jammi_shah">Jammi_shah </a></h6>
<h6>Support:care@jamishah.me</h6>
<h6>Note:UI not optimized for mobile devices yet</h6>
<button routerLink="/"  class="btn btn-secondary" style="font-family:monospace;">Home</button>
</div>
