<body>
    <div class="bg-img">

    </div>
<div id=container  style="text-align:center;color:slategray;">
    Mousam
    <div id=flip>
      <div><div>Weather Forecast</div></div>
      <div><div>Weather History</div></div>
      <div><div>Current Weather </div></div>
    </div>
    موسم
    <div syle="text-align:center">
      <button style="font-family:Courier New"class="btn btn-outline-light " type="button" routerLink='/current'>Current</button>
      <button style="font-family:Courier New"class="btn btn-outline-light" type="button" routerLink='/prediction'>Forecast</button>
      <button style="font-family:Courier New"class="btn btn-outline-light" type="button" routerLink='/historic'>History</button>
      <button style="font-family:Courier New"class="btn btn-outline-light" type="button" routerLink='/about'>About</button>
    </div>
    </div>
     </body>
  